.dialog-setting {
  .MuiPaper-root {
    max-height: 450px;
    width: 400px;
    background: rgb(31, 30, 30);
    .MuiDialogContent-root {
      text-align: center;
      padding: 0px;
      height: 100%;
      p {
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 22px 0px;
        color: white;
        font-size: 13px;
        border-bottom: 1px solid #2c2c2c;
      }
    }
  }
}
